body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.card {
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
}

input[readonly] {
    background-color: #e9ecef;
    color: #000;
    font-weight: bold;
}

.progress {
    height: 25px;
    border-radius: 10px;
}

.progress-bar {
    font-weight: bold;
}
